/*******	HEADER	******/

.owl-carousel
{
	position: relative;
  	height: 75%;
  	overflow: hidden;
}

.owl-carousel img
{
  	width: 100%;
}

.owl-carousel .item
{
	
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
}

#articletitle{
	left: 50%;
	transform: translateX(-50%) translateY(-50%);
	position: absolute;
	width: 95%;
	top: 37.5%;
	z-index: 3;
}

#articletitle .arrow{
	width:50px;
	cursor: pointer;
	-webkit-transition: all 200ms ease-out;
    -moz-transition: all 200ms ease-out;
    -ms-transition: all 200ms ease-out;
    -o-transition: all 200ms ease-out;
    transition: all 200ms ease-out;
}

#articletitle .nextArrow{
	position: relative;
    float: right;
}

#calque.overlay{
	z-index: 2;
	opacity: 0.45;
}

#articletitle h1{
	position: absolute;
	color: white;
	font-family: Arenq;
	font-style: bold;
	line-height: 1em;
}

.logo_desc{
	width: 100px;
}

.conteneur_logo_desc ul{
	margin: auto;
	text-align: center;;
}

.conteneur_logo_desc ul p {
	text-align: center;
}

.conteneur_logo_desc li{
	text-decoration: none;
	display: inline-block;
	margin: -3px 4%;;
}

.article p.logo_desc{
	font-family: Montserrat_Light;
    display: block;
    font-size: 1.25em;
	width: 100%;
	margin-top: 10px;
}

.article p{
	font-family: Montserrat;
	text-align: justify;
}


#itineraire_conteneur{
	padding-top: 50%;
	background: no-repeat center center;
  	background-size: cover;
  	border: 2px #000;
  	border-style: dashed;
}

.food_img{
/* 	display: table-cell;
 	vertical-align:middle; */
	padding-top: 15%;
  	border: 2px #000 solid;	
  	position: absolute;
    width: 15%;
    top: 50%;
    transform: translateY(-50%);
}

.food_conteneur{
	display: table;
	position: relative;
}

.food_conteneur .food_img, .food_conteneur .food_txt{
    float: none;
}

.food_conteneur--left {
    margin-top: 80px;
   	margin-bottom: 30px;
}

.food_conteneur--left .food_txt{
    padding-left: 4%;
}

.food_conteneur--left .food_img{
	left :10%;
}

.food_conteneur--right .food_img{
	right: 10%;
}

.food_conteneur--right .food_txt{
    padding-right: 4%;
}

.food_txt {
	display: table-cell;
 	vertical-align:middle;
}

.conteneur_logo_desc{
	margin-top:3%;
}

.videoWrapper {
	position: relative;
	padding-bottom: 46.25%; /* 16:9 */
	height: 0;
	margin-bottom: 5em;
}
.videoWrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.ytp-watermark .yt-uix-sessionlink{
	display: none;
}

#articletitle .mouse{
	transform: translateY(240%);
}

#articletitle p{
	font-size: 2.5em;
	color: #fff;
	position: absolute;
	text-align: center;
	left: 50%;
	transform: translateX(-50%);
	margin-top: 1%;
	font-weight: 600;
}

@media (max-width: 1200px){
	.food_img{
		padding-top: 20%;
		width: 20%;
	}
	.food_conteneur--left .food_img{
		left :8%;
	}

	.food_conteneur--right .food_img{
		right: 8%;
	}
}

@media (max-width: 1600px){
	#articletitle .mouse {
	}
}

@media screen and (max-width: 1450px){
	#articletitle .mouse {
	transform: translateY(200%);

	}
}

@media screen and (max-width: 1350px){
	#articletitle .mouse {
	transform: translateY(180%);
		
	}
}

@media screen and (max-width: 1200px){
	#articletitle .mouse {
		transform: translateY(150%);
	}
}

@media (min-width: 1024px){
	#articletitle .arrow:hover{
		
	}

	#articletitle .nextArrow:hover{
		transform: translateX(15%);
	}
	#articletitle .prevArrow:hover{
		transform: translateX(-15%);
	}
} 

@media (max-width: 1024px){
	.conteneur_logo_desc li{
		width: 19%;
		margin: 0;
		margin-right: 0px !important;
	}

	.article p.logo_desc{
		font-size: 100%;
	
	}

	#page .title{
		font-size: 4em;
		padding: 0.5em 0;
	}

	.food_img{
		padding-top: 25%;
		width: 25%;
	}

	.food_conteneur--left .food_img{
		left :6%;
	}

	.food_conteneur--right .food_img{
		right: 6%;
	}
}

@media (max-width: 750px){
	.food_img{
		padding-top: 30%;
		width: 30%;
	}

	.food_conteneur--left .food_img{
		left :1%;
	}

	.food_conteneur--right .food_img{
		right: 1%;
	}

	#articletitle p{
		font-size: 	2em;

	}
}

@media (max-width: 650px){
	#articletitle .arrow{
		width:35px;
	}
		
	#articletitle p{
		font-size: 1.5em;	
	}

	.conteneur_logo_desc li{
		margin:0;
	}

	ul li img.logo_desc{
		width: 80%;
	}

	.article p.logo_desc{
		font-size: 95%;
	}

	#page .title{
		font-size: 3em;
		padding: 0.35em 0;
	}

	.food_img{
		padding-top: 40%;
		width: 40%;
	}

	.food_conteneur--left .food_img{
		left :-7%;
	}

	.food_conteneur--right .food_img{
		right: -7%;
	}
}

@media (max-width: 550px){
	#itineraire_conteneur{
		padding-top: 80%;
	}

	.food_img{
		display: none;
	}

	.food_conteneur .food_txt{
		padding:0;
	}
}

@media (max-width: 400px){
	#articletitle .arrow{
		width:25px;
	}
		
	#articletitle p{
		font-size: 	1.3em;
		padding-top: 	0.5em;
	}

	.conteneur_logo_desc li{
		width: 18%;
	}

	ul li img.logo_desc{
		width: 80%;
	}

	.article p.logo_desc{
		font-size: 80%;
		margin: 0;
	}

	.article p{
		font-size: 0.9em;
	}
}
