
.wrapper {
  width: 60%;
  height: 50%;
  margin: 5% auto 0 auto; 
}
.font {
  font-size: 16px;
  font-family: Montserrat_Semi-Bold;
  letter-spacing: 2px;
  color: black;
}

.form .field-in{
  border: 4px solid black;
  color: black;
}

.form .field-in:hover{
  background-color: black;
  color: white;
}

.font:hover{
  color: white;
}
.form {
  text-align: center; 
  -webkit-animation: bounce 1.5s infinite;
  -moz-animation: bounce 1.5s infinite;
  animation: bounce 1.5s infinite;
}

.field-in {
  display: block;
  padding: 10px;
  border: none;
  width: 60%;
  -webkit-transition: all 0.5s ease 0s;
  -moz-transition: all 0.5s ease 0s;
  transition: all 0.2s ease 0s;
  margin: 10px auto;
}
.name:focus, .email:focus, .message:focus{
  outline: none;
  padding:15px;
}
.message {   
  height: 50px;
  overflow: hidden;
}
.message:hover{
  height: 150px;
}
.submit{
  background-color: white;
  height: 50px;
  padding: 0px 20px; 
  border: 4px solid black;
  -webkit-transition: all 0.5s ease 0s;
  -moz-transition: all 0.5s ease 0s;
  transition: all 0.2s ease 0s;
}
.submit:hover{
  cursor: pointer;
  background-color: #000;
}
::-webkit-input-placeholder {
   color: black;
}

:-moz-placeholder { 
   color: black;
}

::-moz-placeholder { 
   color: black; 
}

:-ms-input-placeholder {  
   color: black;  
}


@media (max-width: 1200px) {
  .wrapper{
    width: 50%;
  }

  .field-in{
    width: 80%;
  }
}

@media (max-width: 1000px) {
  .wrapper{
    width: 65%;
  }

  .field-in{
    width: 80%;
  }
}

@media (max-width: 750px) {
  .wrapper{
    width: 80%;
  }

  .field-in{
    width: 80%;
  }
}

@media (max-width: 550px) {
  .wrapper{
    width: 100%;
  }

  .field-in{
    width: 90%;
  }
}