
#header {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: fixed;
  height: 100%;
  bottom: 0%;
  right: 0;
  left: 0;
  top: 0;

}

#header .alignMiddle{
  background: rgba(0, 0, 0, 0.30);
  text-align: center;
  position: absolute;
  color: #FFFFFF;
  color: #F5F7FA;
  bottom: 0;
  right: 0;
  left: 0;
  top: 0;
}

#page{
  background-color: white;
  position: relative;
  height: auto;
  top: 0;
  overflow: hidden;
  z-index: 2;
}
