@import 'font.css';
@import 'normalize.css';
@import 'skeleton.css';
@import 'parallax.css';
@import 'article.css';
@import 'contactform.css';
@import 'experiences.css';
@import 'destinations.css';
@import 'levoyagedesacha.css';
@import 'owl.carousel.css';


html, body{
	width: 100%;
	height: 100%;
	margin: 0;
	font-family: Montserrat;
} 

a{
	text-decoration: none;
	color: inherit;
}

p{
	margin: 0;
}

.no-js #loader { display: none;  }
.js #loader { display: block; position: absolute; left: 100px; top: 0; }
.se-pre-con {
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 9999;
	background: url(../img/loader3.gif) center no-repeat #fff;
}

/***********	HOME	************/
#home {
	width: 100%;
	height: 100%;
	margin: 0;
}

#home #header{
  /* background: url(../img/background3.gif); */
  background-position: center;
  background-size: cover;
}

#header_ {
    width: 100%;
    height: 75%;
    margin: 0;
}

#header_ #header .title_logo {
    top: 37.5%;
}

* {
    margin: 0;
    padding: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.title_logo{
	position: absolute;
	font-family: Arenq;
	color: white;
	left: 50%;
	top: 50%;
	font-size: 5em;
	transform: translateX(-50%) translateY(-50%);
	text-align: center;
	line- ight: 100%;
	margin: 0;
	width: 80%;
	text-shadow: 5px 5px 10px #000000;
	letter-spacing: 5px;
}



#actuality{
	text-align: center;
	font-family: Montserrat_Semi-Bold;
	margin-top: 100px;
	font-size: 3em;
}

#actualityc
{
	margin-top: 10px;
	border: 5px solid black;
	padding: 20px;
	height: auto;
	font-family: Montserrat;
	margin-bottom: 100px;
}

#actualityc p
{
	text-align: justify;
}

#ourteam
{
	margin-bottom: 20px;
	margin-top: 50px;
}

#members
{
	text-align: center;
	font-size: 1.5em;
	line-height: 1em;
	margin-bottom: 30px;
}

#members i 
{
	color: #696969;
	font-size: 0.6em;
}

.avatar
{
	width: 150px;
	height: 150px !important;
	border-radius: 50%;
	position: relative;
	left: 50%;
	transform: translateX(-50%) scale(1);
	margin-bottom: 30px;
	transition: .3s;
}

.avatar:hover
{
	transform: translateX(-50%) scale(1.1);
	box-shadow: 10px 10px 20px rgba(1, 1, 1, .3);
}

#avatar1
{
	background-image: url(../img/alex.PNG);
	background-size: cover;
	background-position: center center;
}

#avatar2
{
	background-image: url(../img/lisa.PNG);
	background-size: cover;
	background-position: center center;
}

#avatar3
{
	background-image: url(../img/antoine.PNG);
	background-size: cover;
	background-position: center center;
}

.row
{
	height: auto;
	margin-bottom: 10px;
}

.member_block{
	text-align: center;
}

.contener_member{
	width: 80%;
}

#homepage .title
{
	font-family: Montserrat_Semi-Bold;
	font-size: 3.5em;
	overflow: hidden;
	margin: 0;
	text-align: left;
    padding: 0;
}

.title {
	font-family: Montserrat_Regular;
    overflow: hidden;
    margin: 0;
    text-align: center;
    text-transform: uppercase;
	font-size: 5.5em;
	padding: 0.75em 0;
}

.title h1
{
	line-height: 0;
}

.center
{
	position: relative;
	left: 50%;
	transform: translateX(-50%);
}

.images
{
	display: inline-block;
	height: 300px;
}

#levoyagedesacha
{
	background-image: url(../img/levoyagedesacha.jpg);
	background-size: cover;
	background-position: center center;
	float: left;
}

#galerie
{
	background-image: url(../img/galerie.jpg);
	background-size: cover;
	background-position: center center;
}

#experiences
{
	background-image: url(../img/experiences.jpg);
	background-size: cover;
	background-position: center center;
	float: left;
}

#destinations
{
	background-image: url(../img/destinations.jpg);
	background-size: cover;
	background-position: center center;
}

.articletext
{
	font-family: Montserrat_Semi-Bold;
	font-size: 2.6em;
	color: white;
	text-shadow: 5px 5px 10px rgba(1, 1, 1, .6);
	position: relative;
	left: 50%;
	top: 50%;
	transform: translateX(-50%) translateY(-50%);
	text-align: center;
	margin: 0;
}

.onethird1
{
	width: 33.333%;
}

.twothirds1
{
	width: calc(66.666% - 10px);
	margin-right: 10px;
}

.onethird2
{
	width: calc(40% - 10px);
	margin-right: 10px;
}

.twothirds2
{
	width: 60%;
}

.images
{
	transition: .5s;
}

.images:hover
{
	transform: scale(0.95);
}

#contactus
{
	margin-top: 50px;
	margin-bottom: 20px;
}

#contact
{
	margin-bottom: 100px;
}


#footer
{
	height: 200px;
  	text-align: center;
  	position: relative;
  	color: white;
  	font-family: Montserrat;
  	font-size: 1.2em;
}

.footercontent{
	position: relative;
	width: 50%;;
	height: 100%;
	float: left;
}

.footercontent p{
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}

#footer2{
	float: right;
}

/************MENU**********/
ul#menu{
    margin: 0;
} 

#burger_menu ul#menu{
	list-style: none;
	z-index: 10;
	position: fixed;
	display: flex;
	-webkit-flex-wrap: wrap;
	flex-wrap: wrap;
	padding: 0;
	width: 100%;;
}

ul#menu li:last-child{
	margin-right: 100px;
}

#menu li{
	font-family: Montserrat_Light;
}

ul#menu li:first-child {
	margin-left: 100px;
}

/* #menu a.current > li{
	border-bottom: 2px solid;
	border-color: #FFF;
} */

#menu a:hover > li{
	color:#dc6a1a;
}

#menu.dark{
	/* background-color: transparent; */
	
	background-color: #FFF;
	-webkit-transition: all 0.5s;
	transition: all 0.5s;
	/* background-color: transparent; */
	
	border-bottom: 2px solid rgba(231, 231, 231, 1);
}

#menu.dark li{
	color:#000;
}

/* #menu.dark a.current > li{
	border-color: #000;
	color: #d94f5c;
} */


nav #burger_menu #menu .menu__link.current{
	color: #d94f5c;
}

#menu .menu__link.current::before {
    -webkit-transform-origin: 0 50%;
    transform-origin: 0% 50%;
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
    top: 3em;
}

#menu .menu__link.current::after {
    bottom: -1px;
    -webkit-transform-origin: 0% 50%;
    transform-origin: 0% 50%;
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
}


#menu .menu__link::before {
    content: '';
    position: absolute;
    left: 0;
    width: 100%;
    background: #d94f5c;
    -webkit-transform: scale3d(0, 1, 1);
    transform: scale3d(0, 1, 1);
    -webkit-transition: -webkit-transform 0.2s;
    transition: transform 0.5s;
    height: 2px;
}


#menu .menu__link::after {
    content: '';
    position: absolute;
    left: 0;
    width: 100%;
    background: #d94f5c;
    -webkit-transform: scale3d(0, 1, 1);
    transform: scale3d(0, 1, 1);
    -webkit-transition: -webkit-transform 0.2s;
    height: 2px;
    transition: transform 0.3s;
}

nav #burger_menu #menu .menu__link:hover{
	color:#ffffff;
}

nav #burger_menu #menu .menu__link.current:hover{
	color:#d94f5c;
}

nav #burger_menu #menu.dark .menu__link{
	color: #2a282b;
}
#menu{
	background: #2a282b;
}

nav #burger_menu #menu.dark .menu__link.current{
	color: #d94f5c;
}

nav #burger_menu #menu.dark .menu__link.current:hover{
	color: #d94f5c;
}

nav #burger_menu #menu.dark .menu__link:hover{
	color:#d94f5c;
}

nav #burger_menu #menu .menu__link {
    padding: 1em;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    position: relative;
    text-align: center;
    color: #b9b8b8;
    -webkit-transition: color 0.4s;
    transition: color 0.4s;
    display: block;
    -webkit-user-select: none;
    user-select: none;
    font-weight: bold;
    font-size: 1.15em;
    cursor: pointer;
}

#menu li.menu__item {
    /* display: block; */
    text-align: center;
    /* display: block; */
    margin: auto;
}

/*------------BURGER MENU------------*/



nav #burger_menu #burger{
	/* display: none; */
	visibility: hidden;
	top: 0;
	right: 0;
	z-index: 13;
	background-color: #2a282b;
	padding: 1em;
	/* display: none; */
	position: fixed;
	/* display: none; */
	transition: all 0.5s;
	/* display: none; */
	-webkit-transition: all 0.5s;;
}


.burger-menu {
  
  cursor: pointer;
  height: 35px;
  width: 40px;
  margin: 0 auto;
  display: block;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.burger-menu .bar {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  height: 2px;
  width: 100%;
  display: block;
  background-color: white;
}
.burger-menu .bar:nth-of-type(2) {
  margin: 12px 0;
}
.burger-menu--closed {
  -webkit-transition-delay: 0.3s;
          transition-delay: 0.3s;
}
.burger-menu--closed .bar {
  float: right;
}
.burger-menu--closed .bar:nth-of-type(2) {
  width: 75%;
  -webkit-transition-property: margin, height, width;
  transition-property: margin, height, width;
  -webkit-transition-delay: 0.3s, 0.3s, 0s;
          transition-delay: 0.3s, 0.3s, 0s;
}
.burger-menu--closed .bar:nth-of-type(3) {
  width: 50%;
}

.burger-menu--opened {
	transform: translateY(12px);
}
.burger-menu--opened .bar:nth-of-type(1) {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  -webkit-transition-delay: 0.3s;
          transition-delay: 0.3s;
  height: 3px;
}
.burger-menu--opened .bar:nth-of-type(2) {
  opacity: 0;
  height: 0;
  margin: -3px;
}
.burger-menu--opened .bar:nth-of-type(3) {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  -webkit-transition-delay: 0.3s;
          transition-delay: 0.3s;
  height: 3px;
}

.bg{
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

.menu__wrapper{
	display: inherit;
	width: 100%;
}

@media (min-width: 1200px){
	 .burger-menu--closed:hover .bar:nth-of-type(2) {
	  width: 100%;
	}
	.burger-menu--closed:hover .bar:nth-of-type(3) {
	  width: 100%;
	}
}

@media screen and (max-width: 1255px){
	nav #burger_menu #menu .menu__link{
		font-size: 1em;
		width: 100%;
	}
	
	.images{
		height: 250px;
	}

	#actuality{
		margin-top: 50px;
	}

	#actualityc{
		margin-bottom: 30px;
	}

	#contact{
		margin-bottom: 50px;
	}
}

@media (max-width: 1050px){
	nav #burger_menu #burger{
		visibility: visible;
	}

	#menu .menu__link.current::before {
		top : 0px;
		height : 3px;
	}

	#menu .menu__link.current::after {
		before:  : 0px;
		height:  3px;
	}

	nav #burger_menu #menu{
		/* display: none; */
		visibility: hidden;
		/* display: none; */
		transition: all 0.5s;
		/* display: none; */
		transform: translateY(-100%);
		margin: auto;
		display: table;
		height: 100%;
		width: 100%;
	}

	nav #burger_menu #menu.burger{
		transform: translateY(0%);
		visibility: visible;
		
	}

	.menu__list{
		display: block;
		margin: 0 auto;
	}

	nav #burger_menu #menu li{
		border: none;
		color: #FFF;
		font-size: 1.8em;
		position: relative;
		right: 0;
		margin-bottom: 0.5em;
		line-height: 2em;
		margin-right: 2em;
		margin-left: 2em;
		/* right: 0; */;
	}

/* 	nav #burger_menu #menu li:nth-child(2){
	margin: auto !important;
    	margin-bottom: 0.4em !important;
}
 */

	nav #burger_menu #menu a:hover > li{
		border-bottom: 2px solid #FFF;
	}

	nav #burger_menu #menu a:last-child{
		padding: 0;
	}

	nav #box_menu{
		width: 100%;
		height: 100%;
		background-color: #2a282b;
		position: absolute;
	}

	.images{
		height: 200px;
	}

	.articletext{
		font-size: 2em;
	}
		#home{
		height: 75%;
	}

	.title_logo{
		top:37.5%;
	}

	.menu__wrapper{
		position: absolute;
	    left: 50%;
	    top: 50%;
	    transform: translate(-50%,-50%);
	    width: 50%;
	}
	
}

@media (max-width: 750px) {

	.images{
		width: 100%;
		margin-bottom: 20px;
	}

	.onethird1{
		margin-bottom: 10px;
	}
	
	.title_logo{
		font-size: 4em;
		width: 90%;
	}

}

@media (max-width: 650px) {
	
	.title_logo{
		font-size: 3em;
	}

	#actuality{
 		font-size: 2.5em;
	}
	
	#homepage .title{
		font-size: 2.65em;
	}
	#ourteam{
		margin: 20px 0px 10px 0;
	}
		
	#members{
		margin: 0;
	}

	#members p{
		margin-bottom: 15px;
	}

	#contactus{
		margin: 0 0px 10px 0;
	}

	#contact{
		margin-bottom: 25px;
	}

	.burger-menu{
		width: 30px;
		height: 30px;
	}

	.burger-menu--closed .bar:nth-of-type(2) {
	  width: 100%;
	}	

	.burger-menu--closed .bar:nth-of-type(3) {
	  width: 100%;
	}

	nav #burger_menu #menu .menu__link{
		font-size: 0.8em;
	}

}

@media (min-width: 550px) and (max-width: 650px){

	.avatar{
		width: 125px;
    	height: 125px !important;
	}

	#members{
		font-size: 1em;
	}
}

@media (max-width: 450px){
	#home{
		height: 50%;
	}

	#header_{
		height: 50%;
	}
	
	#header_ #header .title_logo{
		top:25%;
	}

	.title_logo{
		font-size: 2.5em;
		width: 95%;
		top:25%;
	}

	p{
		font-size: 0.85em;
	}

	#actuality{
 		font-size: 2.1em;
	}
	
	#homepage .title{
		font-size: 1.9em;
	}

	#actuality{
		margin-top: 20px;
	}

	#actualityc{
		margin-bottom: 10px;
	}

	#contact{
		margin-bottom: 10px;
	}

	#ourteam{
		margin-top: 0;
	}

	nav #burger_menu #menu .menu__link{
		font-size: 0.8em;
	}

	.footercontent{
		width: 100%;
		height: 60%;
	}
}

@media (max-width: 350px){
	nav #burger_menu #menu .menu__link{
		font-size: 0.7em;
	}
}

@media (max-height: 420px){
	nav #burger_menu #menu li{
		line-height: 1.1em;
	}

	/* nav #burger_menu #menu li:nth-child(2){
		margin-bottom: 0.4em !important;
	} */
}