<div id="calque" class="overlay"></div>
<div id="carousel" class="owl-carousel">
		<img class="item" src="img/articles/blue_train/bluetrain1.jpg">
		<img class="item" src="img/articles/blue_train/bluetrain3.jpg"><!-- 
		<img class="item" src="img/articles/blue_train/bluetrain4.jpg"> -->
		<img class="item" src="img/articles/blue_train/bluetrain5.jpg">
		<img class="item" src="img/articles/blue_train/bluetrain6.jpg">
		<img class="item" src="img/articles/blue_train/bluetrain7.jpg">
</div>
<div id="articletitle">
	<img src="img/logos/LeftArrow.png" class="arrow prevArrow">
	<h1 class ="title_logo">BLUE TRAIN</h1>
	<p>Afrique du sud</p>
	<img src="img/logos/rightArrow.png" class="arrow nextArrow">
	<div class="mouse">
		<img id="mouse" src="img/logos/mouse.png">
		<img id="arrow" src="img/logos/bottomArrow.png">
	</div>
</div>
<div id="page" class="article" data-id="1">
	<div class="conteneur_logo_desc">
		<ul>
			<li>
				<a href= "https://www.instagram.com/therailwaychronicles/" class="owl-next"><img id="logo_gallery" class="logo_desc" src="img/logos/gallery.png" alt=""></a>
				<p class="logo_desc">Galerie</p>
			</li>
			<li>
				<img id="logo_nuit" class="logo_desc" src="img/logos/nuit.png" alt="">
				<p id="nuits_desc" class="logo_desc">27 heures</p>
			</li>
			<li>
				<img id="logo_type" class="logo_desc" src="img/logos/montagne.png" alt="">
				<p id="type_desc" class="logo_desc">Montagne</p>
			</li>
			<li>
				<img id="logo_bourse" class="logo_desc" src="img/logos/bourse.png" alt="">
				<p id="bourse_desc" class="logo_desc">1200 €/p</p>
			</li>
			<li>
				<img id="logo_dist" class="logo_desc" src="img/logos/distance.png" alt="">
				<p id="dist_desc" class="logo_desc">1 600 km</p>
			</li>
		</ul>
	</div>
	<div class="container">
		<div class="row">
			<div class="column center">
				<h1 class="title">expérience</h1>
			</div>
		</div>
		<div class="row">
			<div class="nine columns center">
				<p id="experience_txt">Bijou sur rails du Cap à Pretoria, le Blue Train est particulièrement connu pour sa cuisine superbe, son service de majordome attentif, ses dîners gourmets accompagnés de ses somptueux vins, son mobilier en acajou brillant et ses accessoires en marbre. Luxe et hospitalité depuis 1946.
				<br><br>
				Sur 1 600 km, le Blue Train parcourt l'Afrique du Sud du Cap à Pretoria, marquant un arrêt à Matjiesfontein. En sens inverse, de Pretoria au Cap, il marque un arrêt à Kimberley et sa mine de diamants… Avec une journée et demi de trajet, le Blue Train est doté d'un service et d'équipements dignes d'un 5 étoiles. Il est l'un des trains les plus luxueux de la planète.
				<br><br>
				Le Cap, Pretoria, Johannesburg, Sun City : vous pourrez dans ces villes découvrir ou redécouvrir l'histoire du pays. L'apartheid y a laissé des traces et la prudence s'impose encore dans certains quartiers. Vous aurez aussi l'occasion d'y découvrir la richesse des traditions musicales (jazz). A noter, le coût du voyage en Afrique du Sud est plus élevé que dans tout autre pays du continent africain.
				<br><br>
				Avec ses paysages inouïs, sa vie sauvage intense et préservée et la spectaculaire ville du Cap, l'Afrique du Sud possède des atouts incomparables. Paradis des sportifs et des amateurs de grands espaces, le"Pays arc-en-ciel" est un mélange d'Afrique, d'Europe et d'Inde. Dix ans après la fin de l'Apartheid, découvrez le pays le plus riche d'Afrique.</p>
			</div>
		</div>
		<div class="row">
			<div class="column center">
				<h1 class="title">itinéraire</h1>
			</div>
		</div>
		<div class="row">
			<div  class="eight columns center bg" id="itineraire_conteneur" data-src ="img/bluetrainmap.png">
			</div>
		</div>
		<div class="row">
			<div class="column center">
				<h1 class="title">À savoir</h1>
			</div>
		</div>
		<div class="row">
			<div class="food_conteneur food_conteneur--right">
				<p class="eight columns food_txt">
					 Tous les repas, boissons (alcool ou non) et excursions en hors du train sont inclus. Seul le Champagne, le caviar et les appels extérieurs ne sont pas compris.
					 <br><br>
					 La température se contrôle pour chaque suite. Les suites deluxes comprennent une salle de bain privative, une chaine hifi, un système audio CD et DVD, un fax.
					 <br><br>
					 Les premiers soins sont délivrés par un médecin disponible à bord.
					 <br><br>
					 Des espaces de rangement pour les bagages sont disponibles à l’intérieur des cabines. Aucune restriction sur les bagages, des voitures additionnelles sont mises à disposition en cas de nécessité. 

				</p>
				<div class="three columns" >
					<div class="food_img  bg" data-src= "img/food/bluetrain6.jpg"></div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="food_conteneur food_conteneur--left">
				<div class="three columns" >
					<div class="food_img  bg" data-src = "img/food/bluetrain.jpg"></div>
				</div>
				<p class="eight columns food_txt">
					Le “Dess Code” : casual pour le petit déjeuner, smart casual pour le déjeuner, élégant et chic pour le dîner. Un petit déjeuner continental ou un “English breakfast” complet sont servis à convenance. Une cuisine locale est présentée au menu de chaque repas: Agneau de Karoo, filet d'autruche ou encore huîtres de Knysna sont accompagnés d’une sélection de vins primés provenant des terres de Cape. Le Blue Train met en place une cuisine raffinée qui s’adapte à des menus végétariés, Halaal, Kascher, ou autre demande diététique spéciale. Chaque repas s’apprécie au son d’une délicieuse musique de fond parcourant les répertoires du jazz au classique, en passant par les mélodies du Quatuor à Cordes Soweto.
				</p>
			</div>
		</div>
		<div class="row">
			<div class="column center">
				<h1 class="title">ATTENTION AU DÉPART</h1>
			</div>
		</div>
		
	</div>
	<div class="videoWrapper">
	  <iframe frameborder="0" height="100%" width="100%" 
	    src="https://youtube.com/embed/ZjVZmaE2Vzc?controls=0&showinfo=0&autohide=1">
	  </iframe>
	</div>
	

</div>
<footer></footer>