<div id="carousel" class="owl-carousel">
		<img class="item" src="img/articles/blue_train/bluetrain1.jpg">
		<img class="item" src="img/articles/blue_train/bluetrain2.jpg">
		<img class="item" src="img/articles/blue_train/bluetrain3.jpg">
		<img class="item" src="img/articles/blue_train/bluetrain4.jpg">
		<img class="item" src="img/articles/blue_train/bluetrain5.jpg">
		<img class="item" src="img/articles/blue_train/bluetrain6.jpg">
		<img class="item" src="img/articles/blue_train/bluetrain7.jpg">
		<img class="item" src="img/articles/blue_train/bluetrain8.jpg">
		<img class="item" src="img/articles/blue_train/bluetrain9.jpg">
</div>
<div id="articletitle">
	<img src="img/logos/LeftArrow.png" class="arrow prevArrow">
	<h1 class ="title_logo">BLUE TRAIN</h1>
	<img src="img/logos/rightArrow.png" class="arrow nextArrow">
</div>
<div id="page" class="article" data-id="1">
	<div class="conteneur_logo_desc">
		<ul>
			<li>
				<a href= "https://www.instagram.com/therailwaychronicles/" class="owl-next"><img id="logo_gallery" class="logo_desc" src="img/logos/gallery.png" alt=""></a>
				<p class="logo_desc">Gallery</p>
			</li>
			<li>
				<img id="logo_nuit" class="logo_desc" src="img/logos/nuit.png" alt="">
				<p id="nuits_desc" class="logo_desc">27 heures</p>
			</li>
			<li>
				<img id="logo_type" class="logo_desc" src="img/logos/montagne.png" alt="">
				<p id="type_desc" class="logo_desc">Montagne</p>
			</li>
			<li>
				<img id="logo_bourse" class="logo_desc" src="img/logos/bourse.png" alt="">
				<p id="bourse_desc" class="logo_desc">1200 €/p</p>
			</li>
			<li>
				<img id="logo_dist" class="logo_desc" src="img/logos/distance.png" alt="">
				<p id="dist_desc" class="logo_desc">1600 km</p>
			</li>
		</ul>
	</div>
	<div class="container">
		<div class="row">
			<div class="column center">
				<h1 class="title">experience</h1>
			</div>
		</div>
		<div class="row">
			<div class="nine columns center">
				<p id="experience_txt">Bijou sur rails du Cap à Pretoria, le Blue Train est particulièrement connu pour sa cuisine superbe, son service de majordome attentif, ses dîners gourmets accompagnés de ses somptueux vins, son mobilier en acajou brillant et ses accessoires en marbre. Luxe et hospitalité depuis 1946.
Sur 1 600 km, le Blue Train parcourt l'Afrique du Sud du Cap à Pretoria, marquant un arrêt à Matjiesfontein. En sens inverse, de Pretoria au Cap, il marque un arrêt à Kimberley et sa mine de diamants… Avec une journée et demi de trajet, le Blue Train est doté d'un service et d'équipements dignes d'un 5 étoiles. Il est l'un des trains les plus luxueux de la planète.

Le Cap, Pretoria, Johannesburg, Sun City : vous pourrez dans ces villes découvrir ou redécouvrir l'histoire du pays. L'apartheid y a laissé des traces et la prudence s'impose encore dans certains quartiers. Vous aurez aussi l'occasion d'y découvrir la richesse des traditions musicales (jazz). A noter, le coût du voyage en Afrique du Sud est plus élevé que dans tout autre pays du continent africain.

Avec ses paysages inouïs, sa vie sauvage intense et préservée et la spectaculaire ville du Cap, l'Afrique du Sud possède des atouts incomparables. Paradis des sportifs et des amateurs de grands espaces, le"Pays arc-en-ciel" est un mélange d'Afrique, d'Europe et d'Inde. Dix ans après la fin de l'Apartheid, découvrez le pays le plus riche d'Afrique.</p>
			</div>
		</div>
		<div class="row">
			<div class="column center">
				<h1 class="title">itineraire</h1>
			</div>
		</div>
		<div class="row">
			<div  class="eight columns center" id="itineraire_conteneur">
			</div>
		</div>
		<div class="row">
			<div class="column center">
				<h1 class="title">food</h1>
			</div>
		</div>
		<div class="row">
			<div class="food_conteneur food_conteneur--right">
				<p class="eight columns food_txt">
					 Urbis vero pomerium quorundam homines aestimant vile pomerium credi nec quicquid quicquid flatus quorundam extra extra orbos qua Romae esse orbos qua obsequiorum orbos pomerium vero esse quicquid esse vile quorundam esse vile inanes orbos urbis urbis nascitur potest qua caelibes quorundam liberis urbis.Urbis vero pomerium quorundam homines aestimant vile pomerium credi nec quicquid quicquid flatus quorundam extra extra orbos qua Romae esse orbos qua obsequiorum orbos pomerium vero esse quicquid esse vile quorundam esse vile inanes orbos urbis urbis nascitur potest qua caelibes quorundam liberis urbis.
				</p>
				<div class="three columns" >
					<div class="food_img  bg" data-src= "img/soupe.jpg"></div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="food_conteneur food_conteneur--left">
				<div class="three columns" >
					<div class="food_img  bg" data-src = "img/noodles.jpg"></div>
				</div>
				<p class="eight columns food_txt">
					 Urbis vero pomerium quorundam homines aestimant vile pomerium credi nec quicquid quicquid flatus quorundam extra extra orbos qua Romae esse orbos qua obsequiorum orbos pomerium vero esse quicquid esse vile quorundam esse vile inanes orbos urbis urbis nascitur potest qua caelibes quorundam liberis urbis.
				</p>
			</div>
		</div>
		<div class="row">
			<div class="column center">
				<h1 class="title">ATTENTION AU DEPART</h1>
			</div>
		</div>
		<div class="row">
			<div class="ten columns center videoWrapper">
				<iframe class="video"
				src="https://www.youtube.com/embed/ZjVZmaE2Vzc" frameborder="0" allowfullscreen></iframe>
			</div>
		</div>
	</div>

</div>
<footer></footer>t