		<header class="article_header bg" id="header_" data-title="pick the best experience" data-src="img/experiences/background.jpg"></header>
		<div id="page" class="experience">
			<div class="conteneur_categories">
				<ul id="cat_decouverte" >
					<a href="#">
						<li data-exp='1' class="logo_desc exp_id">
							<div class="bg" data-src="img/experiences/voix_aband_bolivie.jpg"></div>
							<div class="overlay"></div>
							<div class="middle">
								<img class="logo" src="img/logos/insolite_white.png" >
								<h2>insolite</h2>
							</div>
						</li>		
					</a>	
					<a href="#">
						<li data-exp='2' class="logo_desc exp_id">
							<div class="bg" data-src="img/experiences/venice_simplon_orient_express.jpg"></div>
							<div class="overlay"></div>
							<div class="middle">
								<img class="logo" src="img/logos/montagne_white.png" >
								<h2>montagne</h2>
							</div>
						</li>			
					</a>
					<a href="#">
						<li data-exp='3' class="logo_desc exp_id">
							<div class="bg" data-src="img/experiences/white_pass.jpg"></div>
							<div class="overlay"></div>
							<div class="middle">
								<img class="logo" src="img/logos/mer_white.png" >
								<h2>mer</h2>
							</div>
						</li>			
					</a>
					<a href="#">
						<li data-exp='4' class="logo_desc exp_id">
							<div class="bg" data-src="img/experiences/the_ghan.jpg"></div>
							<div class="overlay"></div>
							<div class="middle">
								<img class="logo" src="img/logos/desert_white.png" >
								<h2>desert</h2>
							</div>
						</li>			
					</a>
					<a href="#">
						<li data-exp='5' class="logo_desc exp_id">
							<div class="bg" data-src="img/experiences/tram_SF.jpg"></div>
							<div class="overlay"></div>
							<div class="middle">
								<img class="logo" src="img/logos/urbain_white.png" >
								<h2>urbain</h2>
							</div>
						</li>			
					</a>
				</ul>
			</div>
			<div class="container">
				<div class="row">
					<div id="top_title" class="one-half column center">
						<img id="main_logo_cat" src="">
						<p class="title">DECOUVERTE</p>
					</div>
				</div>
				<div id="article_conteneur">
					<a class="article_bloc exp_4" href="javascript:" onclick="affArticle('article')">
						<!-- <img src="img/experiences/decouverte.jpg" class="loadImageHide"> -->
						<div class="bg" data-src="img/experiences/kuranda_scenic_railway.jpg"></div>
						<div class="overlay"></div>
						<div class="middle">
							<img class="logo" src="img/logos/desert_white.png" >
							<h2>KARUNDA SCENIC RAILWAY</h2>
						</div>
					</a>
					<a class="article_bloc exp_4" href="javascript:" onclick="affArticle('article')"><!-- 
						<img src="img/experiences/decouverte.jpg" class="loadImageHide"> -->
						<div class="bg" data-src="img/experiences/the_ghan.jpg"></div>
						<div class="overlay"></div>
						<div class="middle">
							<img class="logo" src="img/logos/desert_white.png" >
							<h2>THE GHAN</h2>
						</div>
					</a>
					<a class="article_bloc exp_3" href="javascript:" onclick="affArticle('article')">
						<!-- <img src="img/experiences/decouverte.jpg" class="loadImageHide"> -->
						<div class="bg" data-src="img/experiences/venice_simplon_orient_express.jpg"></div>
						<div class="overlay"></div>
						<div class="middle">
							<img class="logo" src="img/logos/mer_white.png" >
							<h2>VENICE SIMPLON ORIENT EXPRESS</h2>
						</div>
					<a class="article_bloc exp_5" href="javascript:" onclick="affArticle('article')">
						<!-- <img src="img/experiences/decouverte.jpg" class="loadImageHide"> -->
						<div class="bg" data-src="img/experiences/shinkansen.jpg"></div>
						<div class="overlay"></div>
						<div class="middle">
							<img class="logo" src="img/logos/urbain_white.png" >
							<h2>SHINKANSEN</h2>
						</div>
					</a>
					<a class="article_bloc exp_2" href="javascript:" onclick="affArticle('El_Chepe')">
						<!-- <img src="img/experiences/decouverte.jpg" class="loadImageHide"> -->
						<div class="bg" data-src="img/experiences/el_chepe.jpg"></div>
						<div class="overlay"></div>
						<div class="middle">
							<img class="logo" src="img/logos/montagne_white.png" >
							<h2>EL CHEPE</h2>
						</div>
					</a>
					<a class="article_bloc exp_2" href="javascript:" onclick="affArticle('Blue_Train')">
						<!-- <img src="img/experiences/decouverte.jpg" class="loadImageHide"> -->
						<div class="bg" data-src="img/experiences/blue_train.jpg"></div>
						<div class="overlay"></div>
						<div class="middle">
							<img class="logo" src="img/logos/montagne_white.png" >
							<h2>BLUE TRAIN</h2>
						</div>
					</a>
					<a class="article_bloc exp_2" href="javascript:" onclick="affArticle('Hiram_Bingham')">
						<!-- <img src="img/experiences/decouverte.jpg" class="loadImageHide"> -->
						<div class="bg" data-src="img/experiences/hiram_bingham.jpg"></div>
						<div class="overlay"></div>
						<div class="middle">
							<img class="logo" src="img/logos/montagne_white.png" >
							<h2>HIRAM BINGHAM</h2>
						</div>
					</a>
					<a class="article_bloc exp_1" href="javascript:" onclick="affArticle('Petite_Ceinture')">
						<!-- <img src="img/experiences/decouverte.jpg" class="loadImageHide"> -->
						<div class="bg" data-src="img/experiences/petite_ceinture.jpg"></div>
						<div class="overlay"></div>
						<div class="middle">
							<img class="logo" src="img/logos/insolite_white.png" >
							<h2>PETITE CEINTURE</h2>
						</div>
					</a>
					<a class="article_bloc exp_2" href="javascript:" onclick="affArticle('White_Pass')">
						<!-- <img src="img/experiences/decouverte.jpg" class="loadImageHide"> -->
						<div class="bg" data-src="img/experiences/white_pass.jpg"></div>
						<div class="overlay"></div>
						<div class="middle">
							<img class="logo" src="img/logos/montagne_white.png" >
							<h2>WHITE PASS AND YUKON ROUTE</h2>
						</div>
					</a>
					<a class="article_bloc exp_2" href="javascript:" onclick="affArticle('article')">
						<div class="bg" data-src="img/experiences/oriental_express.jpg"></div>
						<div class="overlay"></div>
						<div class="middle">
							<img class="logo" src="img/logos/montagne_white.png" >
							<h2>EASTERN AND ORIENTAL EXPRESS</h2>
						</div>
					</a>
					<a class="article_bloc exp_2" href="javascript:" onclick="affArticle('article')">
						<div class="bg" data-src="img/experiences/katoomba_scenic_railway.jpg"></div>
						<div class="overlay"></div>
						<div class="middle">
							<img class="logo" src="img/logos/montagne_white.png" >
							<h2>KATOOMBA SCENIC RAILWAY</h2>
						</div>
					</a>
					<a class="article_bloc exp_2" href="javascript:" onclick="affArticle('article')">
						<div class="bg" data-src="img/experiences/Shimla_Kalka.jpg"></div>
						<div class="overlay"></div>
						<div class="middle">
							<img class="logo" src="img/logos/montagne_white.png" >
							<h2>SHIMLA - KALKA</h2>
						</div>
					</a>
					<a class="article_bloc exp_5" href="javascript:" onclick="affArticle('article')">
						<div class="bg" data-src="img/experiences/funiculaire_lisbonne.jpg"></div>
						<div class="overlay"></div>
						<div class="middle">
							<img class="logo" src="img/logos/urbain_white.png" >
							<h2>TRAMWAY DE LISBONNE</h2>
						</div>
					</a>
					<a class="article_bloc exp_1" href="javascript:" onclick="affArticle('article')">
						<div class="bg" data-src="img/experiences/arbatskaya_metro_station.jpg"></div>
						<div class="overlay"></div>
						<div class="middle">
							<img class="logo" src="img/logos/insolite_white.png" >
							<h2>METRO ARBATSKAYA</h2>
						</div>
					</a>
					<a class="article_bloc exp_1" href="javascript:" onclick="affArticle('article')">
						<div class="bg" data-src="img/experiences/station_toledo.jpg"></div>
						<div class="overlay"></div>
						<div class="middle">
							<img class="logo" src="img/logos/insolite_white.png" >
							<h2>STATION TOLEDO</h2>
						</div>
					</a>
					<a class="article_bloc exp_2" href="javascript:" onclick="affArticle('article')">
						<div class="bg" data-src="img/experiences/eureka_palisade.jpg"></div>
						<div class="overlay"></div>
						<div class="middle">
							<img class="logo" src="img/logos/montagne_white.png" >
							<h2>EUREKA AND PALISADE RAILWAY</h2>
						</div>
					</a>
					<a class="article_bloc exp_1" href="javascript:" onclick="affArticle('article')">
						<div class="bg" data-src="img/experiences/metro_russie.jpg"></div>
						<div class="overlay"></div>
						<div class="middle">
							<img class="logo" src="img/logos/insolite_white.png" >
							<h2>METRO RUSSIE</h2>
						</div>
					</a>
					<a class="article_bloc exp_2" href="javascript:" onclick="affArticle('article')">
						<div class="bg" data-src="img/experiences/jacobite.jpg"></div>
						<div class="overlay"></div>
						<div class="middle">
							<img class="logo" src="img/logos/montagne_white.png" >
							<h2>JACOBITE</h2>
						</div>
					</a>
					<a class="article_bloc exp_2" href="javascript:" onclick="affArticle('article')">
						<div class="bg" data-src="img/experiences/cremaillere_mont_snowdon.jpg"></div>
						<div class="overlay"></div>
						<div class="middle">
							<img class="logo" src="img/logos/montagne_white.png" >
							<h2>CREMAILLERE MONT SNOWDON</h2>
						</div>
					</a>
					<a class="article_bloc exp_3" href="javascript:" onclick="affArticle('article')">
						<div class="bg" data-src="img/experiences/riviera_line.jpg"></div>
						<div class="overlay"></div>
						<div class="middle">
							<img class="logo" src="img/logos/mer_white.png" >
							<h2>RIVIERA LINE</h2>
						</div>
					</a>
					<a class="article_bloc exp_3" href="javascript:" onclick="affArticle('article')">
						<div class="bg" data-src="img/experiences/Ffestiniog_railway.jpg"></div>
						<div class="overlay"></div>
						<div class="middle">
							<img class="logo" src="img/logos/mer_white.png" >
							<h2>FFESTINIOG RAILWAY</h2>
						</div>
					</a>
					<a class="article_bloc exp_3" href="javascript:" onclick="affArticle('article')">
						<div class="bg" data-src="img/experiences/st_ives_bay_line.jpg"></div>
						<div class="overlay"></div>
						<div class="middle">
							<img class="logo" src="img/logos/mer_white.png" >
							<h2>SAINT IVES BAY</h2>
						</div>
					</a>
					<a class="article_bloc exp_3" href="javascript:" onclick="affArticle('article')">
						<div class="bg" data-src="img/experiences/royal_scotsman.jpg"></div>
						<div class="overlay"></div>
						<div class="middle">
							<img class="logo" src="img/logos/mer_white.png" >
							<h2>ROYAL SCOTSMAN</h2>
						</div>
					</a>
					<a class="article_bloc exp_2" href="javascript:" onclick="affArticle('article')">
						<div class="bg" data-src="img/experiences/lakeside_and_haverthwaite_railway.jpg"></div>
						<div class="overlay"></div>
						<div class="middle">
							<img class="logo" src="img/logos/montagne_white.png" >
							<h2>LAKESIDE AND HAVERTHWAITE RAILWAY</h2>
						</div>
					</a>
					<a class="article_bloc exp_2" href="javascript:" onclick="affArticle('article')">
						<div class="bg" data-src="img/experiences/california_zephyr.jpg"></div>
						<div class="overlay"></div>
						<div class="middle">
							<img class="logo" src="img/logos/montagne_white.png" >
							<h2>CALIFORNIA ZEPHYR</h2>
						</div>
					</a>
					<a class="article_bloc exp_4" href="javascript:" onclick="affArticle('article')">
						<div class="bg" data-src="img/experiences/lezard_rouge.jpg"></div>
						<div class="overlay"></div>
						<div class="middle">
							<img class="logo" src="img/logos/desert_white.png" >
							<h2>LEZARD ROUGE</h2>
						</div>
					</a>
					<a class="article_bloc exp_2" href="javascript:" onclick="affArticle('article')">
						<div class="bg" data-src="img/experiences/bernina_express.jpg"></div>
						<div class="overlay"></div>
						<div class="middle">
							<img class="logo" src="img/logos/montagne_white.png" >
							<h2>BERNINA EXPRESS</h2>
						</div>
					</a>
					<a class="article_bloc exp_5" href="javascript:" onclick="affArticle('article')">
						<div class="bg" data-src="img/experiences/tram_SF.jpg"></div>
						<div class="overlay"></div>
						<div class="middle">
							<img class="logo" src="img/logos/urbain_white.png" >
							<h2>CABLE CARS</h2>
						</div>
					</a>
					<a class="article_bloc exp_1" href="javascript:" onclick="affArticle('article')">
						<div class="bg" data-src="img/experiences/grand_train.jpg"></div>
						<div class="overlay"></div>
						<div class="middle">
							<img class="logo" src="img/logos/insolite_white.png" >
							<h2>GRAND TRAIN</h2>
						</div>
					</a>
					<a class="article_bloc exp_1" href="javascript:" onclick="affArticle('article')">
						<div class="bg" data-src="img/experiences/voix_aband_bolivie.jpg"></div>
						<div class="overlay"></div>
						<div class="middle">
							<img class="logo" src="img/logos/insolite_white.png" >
							<h2>VOIX ABANDONNEES DE BOLIVIE</h2>
						</div>
					</a>
				</div>
			</div>
		</div>
		<footer></footer>
