<div id="footer">
	<div class="parallax bg hidden" data-src="img/footer_bg.jpg">
		<div id="footer1" class="footercontent">
			<p>Lisa COUAVOUX<br/>
			Antoine DEMIERE<br/>
			Alexandre REHO</p>
		</div>
		<div id="footer2" class="footercontent">
			<a href="https://www.instagram.com/therailwaychronicles/"><img class="footericon" src="img/logos/facebook.png"></a>
			<a href="https://www.instagram.com/therailwaychronicles/"><img class="footericon" src="img/logos/twitter.png"></a>
			<a href="https://www.instagram.com/therailwaychronicles/"><img class="footericon" src="img/logos/instagram.png"></a>
		</div>
	</div>
</div>