<div id="calque" class="overlay"></div>
<div id="carousel" class="owl-carousel">
		<img class="item" src="img/articles/hiram_bingham/hiram1.jpg">
		<img class="item" src="img/articles/hiram_bingham/hiram2.jpg">
		<img class="item" src="img/articles/hiram_bingham/hiram4.jpg">
		<img class="item" src="img/articles/hiram_bingham/hiram5.jpg">
		<img class="item" src="img/articles/hiram_bingham/hiram6.jpg">
		<img class="item" src="img/articles/hiram_bingham/hiram7.jpg">
</div>
<div id="articletitle">
	<img src="img/logos/LeftArrow.png" class="arrow prevArrow">
	<h1 class ="title_logo">THE HIRAM BINGHAM</h1>
	<p>Pérou</p>
	<img src="img/logos/rightArrow.png" class="arrow nextArrow">
	<div class="mouse">
		<img id="mouse" src="img/logos/mouse.png">
		<img id="arrow" src="img/logos/bottomArrow.png">
	</div>
</div>
<div id="page" class="article" data-id="1">
	<div class="conteneur_logo_desc">
		<ul>
			<li>
				<a href="https://www.instagram.com/therailwaychronicles/" class="owl-next"><img id="logo_gallery" class="logo_desc" src="img/logos/gallery.png" alt=""></a>
				<p class="logo_desc">Galerie</p>
			</li>
			<li>
				<img id="logo_nuit" class="logo_desc" src="img/logos/nuit.png" alt="">
				<p id="nuits_desc" class="logo_desc">1 journée</p>
			</li>
			<li>
				<img id="logo_type" class="logo_desc" src="img/logos/montagne.png" alt="">
				<p id="type_desc" class="logo_desc">Montagne</p>
			</li>
			<li>
				<img id="logo_bourse" class="logo_desc" src="img/logos/bourse.png" alt="">
				<p id="bourse_desc" class="logo_desc">500 €/p</p>
			</li>
			<li>
				<img id="logo_dist" class="logo_desc" src="img/logos/distance.png" alt="">
				<p id="dist_desc" class="logo_desc">111 km</p>
			</li>
		</ul>
	</div>
	<div class="container">
		<div class="row">
			<div class="column center">
				<h1 class="title">expérience</h1>
			</div>
		</div>
		<div class="row">
			<div class="nine columns center">
				<p id="experience_txt"> Le Hiram Bingham sillonne lentement les paysages spectaculaires des Andes, depuis la plaine de la Vallée Sacrée jusqu'au Machu Picchu, l'une des sept nouvelles merveilles du monde, en passant par la rivière Urubamba. Le train part vers 9 heures depuis Poroy, à 20 minutes de Cusco et vous dépose à midi à Agua Calientes, situé à 15 minutes en minibus de la merveille. 
				<br><br>
				Le voyage ne dure qu’une journée. Le brunch est servi en route vers Machu Picchu, puis les visiteurs sont guidés à travers une visite de l’ancienne cité, et le souper est servi sur le chemin du retour. 
				<br><br>
				Le Machu Picchu au Pérou, inscrit à l’UNESCO est sans doute l’un des sites du patrimoine mondiale les plus populaire et les plus visités au monde.Depuis des centaines d’années, Il a été un lieu de mystère et d’intrigue pour les archéologues et explorateurs et surement la destination la plus désirée pour les passionnés d’évasion et autres globe trotteurs de ce monde.
				<br><br>
				Utiliser un moyen de transport ferroviaire et de surcroît dans un cadre unique et raffiné, c’est opter pour un ressenti inoubliable et ne ressemblant à aucun autre . Le luxueux train Hiram Bingham appartenant au prestigieux groupe hôtelier Belmond est à adopter au moins une fois dans sa vie. 
				<br><br>
				Le Belmond Hiram Bingham n’est autre que le célèbre Orient-Express, roulant depuis 1883. Quand son nom est prononcé, luxe et raffinement sont les mots qui résonnent dans les esprits. L’art du voyage dans toute sa splendeur. vous embarque à son bord sur les traces de l’explorateur dont le train porte le nom, il est considéré comme l’une des plus belles escapades en train d’Amérique du Sud.
				<br><br>
				Pouvant accueillir jusqu’à 84 passagers, les voitures bleues et or sont meublées dans le style de Pullman 1920. La voiture d’observation est doté de sièges dont confort généreux est idéal pour se détendre tout en admirant les paysages péruviens qui évoluent au fil du trajet. Vous pourrez aussi profiter de deux wagons restaurants qui proposent une succulente carte inspirée de la cuisine Péruvienne.
				</p>
			</div>
		</div>
		<div class="row">
			<div class="column center">
				<h1 class="title">itinéraire</h1>
			</div>
		</div>
		<div class="row">
			<div  class="eight columns center bg" id="itineraire_conteneur" data-src = "img/hirambinghammap.png">
			</div>
		</div>
		<div class="row">
			<div class="column center">
				<h1 class="title">À savoir</h1>
			</div>
		</div>
		<div class="row">
			<div class="food_conteneur food_conteneur--right">
				<p class="eight columns food_txt">
					 Au regard de la haute altitude du chemin de fer, de l’oxygène est disponible à bord du train pour les passagers  qui ont du mal à s’acclimater. La température est régulée automatiquement à l’intérieur du Hiram Bingham. Le climat subtropical du Machu Picchu implique généralement un climat doux avec des températures tournant autour de 13°C. De Novembre à Mars, la saison des pluies est présente, alors que d’Avril à Octobre la saison sèche amène des températures plus chaudes. Ainsi, pensez à prendre un chapeau et un parapluie dans vos affaires!

				</p>
				<div class="three columns" >
					<div class="food_img  bg" data-src= "img/food/hiramB.jpg"></div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="food_conteneur food_conteneur--left">
				<div class="three columns" >
					<div class="food_img  bg" data-src = "img/food/pisco-sour.jpg"></div>
				</div>
				<p class="eight columns food_txt">
					 Dès le matin, en chemin vers le Machu Picchu, appréciez de délicieux repas avec un choix de plats variés, accompagnés de boissons rafraîchissantes, de jus fraichements pressés ou de vins pétillants. Sur le chemin du retour, lors de la descente vers Poroy, un luxueux dînés composés de quatre plats différents vous sera servi.
					 <br>
					 La voiture bar est l’endroit idéal pour apprécier un “Pisco Sour” et expérimenter un live de musique Péruvienne proposé par un groupe présent à bord. Pendant votre voyage vers le Machin Picchu, le barman invite les passagers à découvrir le Pisco Sour en le réalisant vous-même.

				</p>
			</div>
		</div>
		<div class="row">
			<div class="column center">
				<h1 class="title">ATTENTION AU DÉPART</h1>
			</div>
		</div>
	</div>
	<div class="videoWrapper">
	  <iframe frameborder="0" height="100%" width="100%" 
	    src="https://www.youtube.com/embed/mafXdyd8hpo?showinfo=0&autohide=1">
	  </iframe>
	</div>

</div>
<footer></footer>
