
		<header id="home" class="bg"  data-src= "img/gif_webdesign2.gif" data-title=""></header>
			<div id="page">
				<div id="homepage" class="container">
					<div class="row">
						<div class="column center" id="actuality">
							<p>BIENVENUE !</p>
						</div>
					</div>
					<div class="row">
						<div class="one-half column center" id="actualityc">
							<p>
								The Railway Chronicles est un webzine qui vous accompagne dans la recherche d’un voyage unique, d’une expérience immersive à bord d’un moyen de transport qui a révolutionné nos sociétés : les chemins de fer. Ils ont transformé le paysage et ont permis une composante devenue essentielle : le voyage. Accessible depuis n’importe quel appareil, notre site web vous permet de découvrir, rêver, mais aussi de vous perdre à travers le contenu. Notre ambition est de vous accompagner au-delà du virtuel, et de vous pousser à concrétiser vos ambitions dans le monde réel.

							</p>
						</div>
					</div>
					<div class="row">
						<div class="column" id="articles">
							<p class="title">NOS ARTICLES</p>
						</div>
					</div>
					<div class="row">
						<a href="#" onclick="$('#nav_sacha').click()">
							<div id="levoyagedesacha" class="twothirds1 images reading_content" data-type="sacha">
								<p class="articletext">LE VOYAGE DE SACHA</p>
							</div>
						</a>
						<a href="https://www.instagram.com/therailwaychronicles/">
							<div id="galerie" class="onethird1 images reading_content" data-type="gallery">
								<p class="articletext">GALERIE</p>
							</div>
						</a>
					</div>
					<div class="row">
						<a href="#" onclick="$('#nav_experiences').click()">
							<div id="experiences" class="onethird2 images reading_content" data-type="experiences">
								<p class="articletext">EXPÉRIENCES</p>
							</div>
						</a>
						<a href="#" onclick="$('#nav_destinations').click()">
							<div id="destinations" class="twothirds2 images reading_content" data-type="destinations">
								<p class="articletext">NOS DÉSTINATIONS</p>
							</div>
						</a>
					</div>
					<div class="row">
						<div class="column" id="ourteam">
							<p class="title">NOTRE ÉQUIPE</p>
						</div>
					</div>
					<div class="row" id="members">
						<div class="one-third column">
							<a href="http://www.aleqsandr.fr"><div id="avatar1" class="avatar"></div></a>
							<p><strong>Alexandre</strong> REHO, <br>le rêveur
								<p class="citation">
								<i>"Rester, c’est exister. Voyager, c’est vivre"</i></p>
							</p>
						</div>
						<div class="one-third column">
							<div id="avatar2" class="avatar"></div>
							<p><strong>Lisa</strong> COUAVOUX, <br> l'épicurienne 
								<p class = "citation">
								<i>"Le vrai voyageur ne sait pas où il va"</i></p>
							</p>
						</div>
						<div class="one-third column">
							<div id="avatar3" class="avatar"></div>
							<p><strong>Antoine</strong> DEMIERE, <br> l'explorateur
								<p class = "citation"> 
								<i>"Je ne pense pas qu'il y ait de bonne ou de mauvaise situation."</i></p>
							</p>
						</div>
					</div>
					<div class="row" id="contactus">
						<div class="columns">
							<p class="title">CONTACTEZ-NOUS</p>
						</div>
					</div>
					<div class="row" id="contact">
						<div class="wrapper">
						    <form class="form">
						     	<input type="text" class="name field-in font" placeholder="Qui êtes-vous ?"/>
						      	<input type="text" class="email field-in font" placeholder="Votre email"/>
						      	<textarea class="message field-in font" placeholder="Votre message"></textarea>
						      	<button class="submit font" href="#">ENVOYER</button>
						    </form>
						</div>
					</div>
				</div>
			</div><!--
			--><footer></footer>