
		<header id="home" class="bg"  data-src= "img/background3.gif" data-title="THE RAILWAY CHRONICLES"></header>
			<div id="page">
				<div id="homepage" class="container">
					<div class="row">
						<div class="column center" id="actuality">
							<p>QUOI DE NEUF ?</p>
						</div>
					</div>
					<div class="row">
						<div class="one-half column center" id="actualityc">
							<p>
								Hacque adfabilitate confisus cum eadem postridie feceris, ut incognitus haerebis et repentinus, hortatore illo hesterno clientes numerando, qui sis vel unde venias diutius ambigente agnitus vero tandem et adscitus in amicitiam si te salutandi adsiduitati dederis triennio indiscretus et per tot dierum defueris tempus, reverteris ad paria perferenda, nec ubi esses interrogatus et quo tandem miser discesseris, aetatem omnem frustra in stipite conteres summittendo.
							</p>
						</div>
					</div>
					<div class="row">
						<div class="column" id="articles">
							<p class="title">NOS ARTICLES</p>
						</div>
					</div>
					<div class="row">
						<a href="#" onclick="affArticle('sacha')">
							<div id="levoyagedesacha" class="twothirds1 images reading_content" data-type="sacha">
								<p class="articletext">LE VOYAGE DE SACHA</p>
							</div>
						</a>
						<a href="https://www.instagram.com/therailwaychronicles/">
							<div id="galerie" class="onethird1 images reading_content" data-type="gallery">
								<p class="articletext">GALERIE</p>
							</div>
						</a>
					</div>
					<div class="row">
						<a href="#" onclick="affArticle('experiences')">
							<div id="experiences" class="onethird2 images reading_content" data-type="experiences">
								<p class="articletext">EXPÉRIENCES</p>
							</div>
						</a>
						<a href="#" onclick="affArticle('destinations')">
							<div id="destinations" class="twothirds2 images reading_content" data-type="destinations">
								<p class="articletext">NOS DESTINATIONS</p>
							</div>
						</a>
					</div>
					<div class="row">
						<div class="column" id="ourteam">
							<p class="title">NOTRE ÉQUIPE</p>
						</div>
					</div>
					<div class="row" id="members">
						<div class="one-third column">
							<a href="http://www.aleqsandr.fr"><div id="avatar1" class="avatar"></div></a>
							<p><strong>Alexandre</strong> REHO <br> - rêveur -
							<br><br>
							<i>"Rester, c’est exister. Voyager, c’est vivre"</i></p>
						</div>
						<div class="one-third column">
							<div id="avatar2" class="avatar"></div>
							<p><strong>Lisa</strong> COUAVOUX <br> - épicurienne -
							<br><br>
							<i>"Le vrai voyageur ne sait pas où il va"</i></p>
						</div>
						<div class="one-third column">
							<div id="avatar3" class="avatar"></div>
							<p><strong>Antoine</strong> DEMIERE <br> - explorateur -
							<br>
							<i>"Je ne pense pas qu'il y ait de bonne ou de mauvaise situation."</i></p>
						</div>
					</div>
					<div class="row" id="contactus">
						<div class="columns">
							<p class="title">CONTACTEZ-NOUS</p>
						</div>
					</div>
					<div class="row" id="contact">
						<div class="wrapper">
						    <form class="form">
						     	<input type="text" class="name field-in font" placeholder="Qui êtes-vous ?"/>
						      	<input type="text" class="email field-in font" placeholder="Votre email"/>
						      	<textarea class="message field-in font" placeholder="Votre message"></textarea>
						      	<button class="submit font" href="#">ENVOYER</button>
						    </form>
						</div>
					</div>
				</div>
			</div><!--
			--><footer></footer>