<div id="burger_menu">
	<a id="burger" href="#">
	<div class = "burger-menu burger-menu--closed">
		<div class="bar"></div>
		<div class="bar"></div>
		<div class="bar"></div>
	</div>
	</a>
	<div id="box_menu">
		<ul id="menu" class="">
			<div class="menu__wrapper">
				<li class="menu__item"><a id="nav_index" class="menu__link" href="javascript:" onclick="affArticle('index'); false">Accueil</a></li>
				<li class="menu__item"><a id="nav_sacha" class="menu__link"  href="javascript:" onclick="affArticle('sacha'); return false;">Voyage de Sacha</a></li>
				<li class="menu__item"><a id="nav_destinations" class="menu__link"  href="javascript:" onclick="affArticle('destinations')">Destinations</a></li>
				<li class="menu__item"><a id="nav_experiences" class="menu__link"  href="javascript:" onclick="affArticle('experiences')">Expériences</a></li>
				<li class="menu__item"><a id="nav_about" class="menu__link"  href="javascript:" onclick="affArticle('about')">A propos</a></li>
				<li class="menu__item"><a id="nav_contact" class="menu__link"  href="javascript:" onclick="affArticle('contact')">Contact</a></li>
			</div>
		</ul>
	</div>
</div>


