<div id="carousel" class="owl-carousel">
		<img class="item" src="img/articles/petite_ceinture/petite1.jpg">
		<img class="item" src="img/articles/petite_ceinture/petite2.jpg">
		<img class="item" src="img/articles/petite_ceinture/petite3.jpg">
		<img class="item" src="img/articles/petite_ceinture/petite4.jpg">
</div>
<div id="articletitle">
	<img src="img/logos/LeftArrow.png" class="arrow prevArrow">
	<h1 class ="title_logo">PETITE CEINTURE</h1>
	<img src="img/logos/rightArrow.png" class="arrow nextArrow">
</div>
<div id="page" class="article" data-id="1">
	<div class="conteneur_logo_desc">
		<ul>
			<li>
				<a href="https://www.instagram.com/therailwaychronicles/" class="owl-next"><img id="logo_gallery" class="logo_desc" src="img/logos/gallery.png" alt=""></a>
				<p class="logo_desc">Gallery</p>
			</li>
			<li>
				<img id="logo_nuit" class="logo_desc" src="img/logos/nuit.png" alt="">
				<p id="nuits_desc" class="logo_desc">1 jour</p>
			</li>
			<li>
				<img id="logo_type" class="logo_desc" src="img/logos/insolite.png" alt="">
				<p id="type_desc" class="logo_desc">Insolite</p>
			</li>
			<li>
				<img id="logo_bourse" class="logo_desc" src="img/logos/bourse.png" alt="">
				<p id="bourse_desc" class="logo_desc">0 €/p</p>
			</li>
			<li>
				<img id="logo_dist" class="logo_desc" src="img/logos/distance.png" alt="">
				<p id="dist_desc" class="logo_desc">23 km</p>
			</li>
		</ul>
	</div>
	<div class="container">
		<div class="row">
			<div class="column center">
				<h1 class="title">experience</h1>
			</div>
		</div>
		<div class="row">
			<div class="nine columns center">
				<p id="experience_txt"> Qui n’a pas aperçu, un jour dans Paris, une voie de chemin de fer à l’abandon? Des rails envahis de verdure, une obscure ouverture de tunnel, des murs couverts de tags ou d’anciens aiguillages rouillés…..tous oubliés ? La Petite Ceinture est une double voie de chemin de fer intégralement intra-muros, circulaire et désaffectée, ce qui en fait un vestige unique dans la capitale. Elle a servi au transport de marchandises puis de voyageurs pendant plus de 70 ans. 
				<br><br>
				Imaginée sous le règne Napoléon III, la Petite Ceinture avait pour rôle de relier entre elles les principales gares parisiennes qui formaient alors les terminus des lignes provinciales pour la transit du fret puis des passagers. Et également un but de défense militaire pour desservir les casernes au pied des fortifications du Paris de l’époque. Ce fut un réel succès, avec un rythme d’un train toutes les 30 minutes, s’arrêtant aux 29 stations qui jalonnaient la ligne. Notez que les visiteurs de l’Exposition Universelle de 1900 ont pu transiter via la Petite Ceinture.La Petite Ceinture, précurseur du métro parisien dans son mode de fonctionnement, subie l’essor de l’automobile et des lignes de bus qui causèrent sa mise à l’arrêt en 1934.
				<br><br>
				Une des particularités réside dans la grande discrétion de son tracé : la Petite Ceinture est quasiment invisible depuis la rue puisqu’elle a été construite soit en hauteur, en souterrains ou en tranchées comme au milieu des parcs Montsouris et des Buttes Chaumont.
				<br><br>
				Il est important de préciser que la Petite Ceinture est interdite d’accès piéton depuis 1942 et que les entrées officielles sont bouchées. Seules deux sections ont été ouvertes au public : dans le 12ème arrondissement, la Petite Ceinture a été transformée en promenade et en jardins partagés et dans le 16ème arrondissement, entre Porte d’Auteuil et la Muette, en parcours écologique long d’ 1,5 km.
				<br><br>
				Pour ce qu’il reste des gares et des quais, très peu sont encore visibles et debout. La nature a repris le dessus, les tags également et la verdure envahit la ferraille et le béton.Cette petite ceinture héberge toute une faune et une flore inimaginable dans Paris (insectes, oiseaux, chauve-souris et même des faisans). C’est par exemple sur son tracé que l’on peut accéder aux anciennes carrières de Paris.
 				</p>
				
			</div>
		</div>
		<div class="row">
			<div class="column center">
				<h1 class="title">itineraire</h1>
			</div>
		</div>
		<div class="row">
			<div  class="eight columns center bg" id="itineraire_conteneur" data-src = "img/petiteceinturemap.png">
			</div>
		</div>
		<div class="row">
			<div class="column center">
				<h1 class="title">À savoir</h1>
			</div>
		</div>
		<div class="row">
			<div class="food_conteneur food_conteneur--right">
				<p class="eight columns food_txt">
					 En s’y aventurant, on pénètre dans un monde de silence car la Petite Ceinture échappe au bruit de la rue : quitter le tumulte et l’agitation pour rejoindre le calme de la nature qui a repris ses droits, et observer les traces du temps qui passe.
				</p>
				<div class="three columns" >
					<div class="food_img  bg" data-src= "img/food/petiteceinture.jpg"></div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="food_conteneur food_conteneur--left">
				<div class="three columns" >
					<div class="food_img  bg" data-src = "img/food/petiteceinture2.jpg"></div>
				</div>
				<p class="eight columns food_txt">
					Cette ligne verte, chargée d’histoire, qui serpente invisible dans tout Paris en longeant ruelles, immeubles, routes, ponts, usines, parcs, entrepôts, prés calmes verts, endroits sales et lugubres mérite à ce qu’on lui donne une nouvelle vie.
				</p>
			</div>
		</div>
		<div class="row">
			<div class="column center">
				<h1 class="title">ATTENTION AU DEPART</h1>
			</div>
		</div>
		<div class="row">
			<div class="ten columns center videoWrapper">
				<iframe class="video"
				src="https://www.youtube.com/embed/53r2msxqyJY" frameborder="0" allowfullscreen></iframe>
			</div>
		</div>
	</div>

</div>
<footer></footer>
