<header class="article_header bg" id="header_" data-title="Le Voyage de Sacha" data-src="img/experiences/background.jpg">
</header>
<div id="page" class="levoyagedesacha">
	<div id="bar"></div>
	<div id="dot1" class="dot"><p>1</p></div>
	<div id="dot2" class="dot"><p>2</p></div>
	<div id="dot3" class="dot"><p>3</p></div>
	<div id="dot4" class="dot"><p>4</p></div>
	<div id="chapter1" data-id ="1" class="chapter">
		<p class="chaptertitle">CHAPITRE UN - MINUIT À PARIS</p>
		<p>
			Quand j'étais gosse j'adorais partir en train de nuit: on s'endormait à Paris et on se réveillait au bord de la Méditerranée ou dans la montagne.
			<br> 
			Le train a toujours été pour moi synonyme de temps d'aventure, un temps suspendu entre deux autres, pendant lequel on pouvait rêver et rencontrer les autres voyageurs. L'avion ou la voiture c'est seulement pour se déplacer, seuls le train et le bateau me font rêver.
			<br> <br>
			C'est à bord du Venice Simplon-Orient-Express au départ de Paris que j'embarque le soir pour retrouver au petit matin la ville sur l'eau : Venise. Après un repas sophistiqué dans une tenue élégante, je m'installe dans le wagon où se situe le bar. Dans une ambiance chic et décontractée, j'écoute un concert live de piano, un cocktail à la main. Cette soirée m'a permis de rencontrer un couple de jeunes mariés, venu passer quelques jours dans la ville des amoureux. Je me suis ensuite retiré dans ma cabine privée en pensant aux aventures que j'allais vivre, demain, à Venise.
		</p>
		<p class="signature">Sacha, 19 Mai </p>
	</div>
	<div id="chapter2" data-id ="2" class="chapter">
		<p class="chaptertitle">CHAPITRE DEUX - EMERAINCITY</p>
		<p> Quand j’avais 6 ans je posais des tas de questions à mes parents qui se moquaient un peu de moi. La locomotive me paraissait vivante comme un animal. Je faisais des prières pour qu’elle ne quitte pas les rails car j’avais peur des déraillements après avoir vu une photo en noir dans un journal où une main dépassait un tas de ferrailles. Pourquoi le train crachait des escarbilles noires quand on regardait par la fenêtre ? Pourquoi les fils électriques du bord de la voie descendaient et montaient quand le train passait ? Pourquoi passait-on dans des tunnels ? Pourquoi la lune suivait elle le train ? Je sautais dans le couloir aussi haut que je pouvais en me disant je devais rester immobile quand le train avançait et me retrouver plus loin. C'est à bord du fabuleux ??????????? que je repense à tout ca.



Gilbert, conducteur de TGV
À grande vitesse !
"Je sillonne le Japon à toute vitesse. Lorsque le Shinkansen file à ??? km/h, je suis constamment en alerte. Il faut surveiller, comme le lait sur le feu, les nombreux paramètres de pilotage et de sécurité. En cas d'obstacles imprévus sur la ligne, il faut savoir réagir avec sang-froid et rapidité pour éviter tout incident."

Parce que j'aime bien l'entendre siffler…

J'aime rêvé ou dormir en train, discuter, écrire aussi, regarder défiler le paysage... 
Autrement, ayant pas mal bourlingué en train, je conseille à tous de prendre au moins une fois dans sa vie la ligne ??????????. Une ligne enchanteresse et impressionnante.

 
Je me suis trouvée une fois dans un train qui a déraillé, j'ai eu peur mais personne n'a été blessé, donc je me sens aussi très en sécurité dans le train.

On arrive au centre ville

Parce que c'est un voyage " dans le voyage "... 
Ah, l'Orient en express... 



		</p>
		<p class="signature">Sacha, 22 Décembre </p>
	</div>
	<div id="chapter3" data-id ="3" class="chapter">
		<p class="chaptertitle">CHAPITRE TROIS - CHELLESTOWN</p>
		<p>
			

			On me demande pourquoi est-ce que j'aime tant les chemins de fer? Je réponds simplement qu'il y a plein de choses à découvrir, c’est un peu mystérieux et ça n’est jamais fini. La technique, l’invention, la mécanique, c'est tout cela qui m'attire. J’aime bien voir fonctionner un train, et regarder le paysage ferroviaire. 
			<br> Les voix abandonnées de Bolivie ou encore la petite ceinture à Paris sont des endroits tellement inspirants. De véritables lieux pour se ressourcer. 
		</p>
		<p class="signature">Sacha, 15 Juin </p>
	</div>
	<div id="chapter4" data-id ="4" class="chapter">
		<p class="chaptertitle">CHAPITRE QUATRE - WOUSTLAND</p>
		<p>
			Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur ?
		</p>
		<p class="signature">Sacha, 18 Octobre </p>
	</div>
</div>
<footer></footer>