<header class="article_header bg" id="header_" data-title="Le Voyage de Sacha" data-src="img/experiences/background.jpg">
</header>
<div id="page" class="levoyagedesacha">
	<div id="bar"></div>
	<div id="dot1" class="dot"><p>1</p></div>
	<div id="dot2" class="dot"><p>2</p></div>
	<div id="dot3" class="dot"><p>3</p></div>
	<div id="dot4" class="dot"><p>4</p></div>
	<div id="chapter1" class="chapter">
		<p class="chaptertitle">CHAPTER ONE - FROM PARIS TO MOSCOW</p>
		<p>
			On me demande pourquoi est-ce que j'aime tant les chemins de fer? Je réponds simplement qu'il y a plein de choses à découvrir, c’est un peu mystérieux et ça n’est jamais fini. La technique, l’invention, la mécanique m'attirent. J’aime bien voir fonctionner un train, et regarder le paysage ferroviaire. Les voix abandonnées de Bolivie ou encore la petite ceinture à Paris sont des endroits tellement inspirant. De véritables lieux pour se ressourcer. 
		</p>
		<p class="signature">Sacha, 10 nov. 20XX</p>
	</div>
	<div id="chapter2" class="chapter">
		<p class="chaptertitle">CHAPTER TWO - EMERAINCITY</p>
		<p>
	
Quand j’avais 6 ans je posais des tas de questions à mes parents qui se moquaient un peu de moi. La locomotive me paraissait vivante comme un animal. Je faisais des prières pour qu’elle ne quitte pas les rails car j’avais peur des déraillements après avoir vu une photo en noir dans un journal où une main dépassait un tas de ferrailles. Pourquoi le train crachait des escarbilles noires quand on regardait par la fenêtre ? Pourquoi les fils électriques du bord de la voie descendaient et montaient quand le train passait ? Pourquoi passait-on dans des tunnels ? Pourquoi la lune suivait elle le train ? Je sautais dans le couloir aussi haut que je pouvais en me disant je devais rester immobile quand le train avançait et me retrouver plus loin. Maintenant mon arrière petit fils qui a 4 ans est aussi passionné par les trains et pose des questions. sur ses performances ». Merci Claude pour ce témoignage!



Témoignages
Gilbert, conducteur de TGV
À grande vitesse !
"Je sillonne la France à toute vitesse. Lorsque le TGV file à 300 km/h, je suis constamment en alerte. Contrairement à une idée reçue, il n'y a pas de pilotage automatique du TGV ! Il faut surveiller, comme le lait sur le feu, les nombreux paramètres de pilotage et de sécurité. En cas d'obstacles imprévus sur la ligne, il faut savoir réagir avec sang-froid et rapidité pour éviter tout incident."

Parce que j'aime bien l'entendre siffler…

J'aime rêvé ou dormir en train, discuter, écrire aussi, regarder défiler le paysage... 
Autrement, ayant pas mal bourlingué en train, je conseille à tous de prendre au moins une fois dans sa vie la ligne Clermont-Ferrand -Nîmes, dit "Le Cevennol". Une ligne enchanteresse et impressionnante

Quand j'étais gosse j'adorais partir en train de nuit: on s'endormait à Paris et on se réveillait au bord de la Méditerranée ou dans la montagne ... 
Le train a toujours été pour moi synonyme de temps d'aventure, un temps suspendu entre deux autres, pendant lequel on pouvait rêver et rencontrer les autres voyageurs. 
L'avion ou la voiture c'est seulement pour se déplacer, seuls le train et le bateau me font rêver. 
Je me suis trouvée une fois dans un train qui a déraillé, j'ai eu peur mais personne n'a été blessé, donc je me sens aussi très en sécurité dans le train.

On arrive au centre ville

Parce que c'est un voyage " dans le voyage "... 
Ah, l'Orient en express... 



		</p>
		<p class="signature">Sacha, 10 nov. 20XX</p>
	</div>
	<div id="chapter1" class="chapter">
		<p class="chaptertitle">CHAPTER THREE - CHELLESTOWN</p>
		<p>
			Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur ?
		</p>
		<p class="signature">Sacha, 10 nov. 20XX</p>
	</div>
	<div id="chapter1" class="chapter">
		<p class="chaptertitle">CHAPTER FOUR - WOUSTLAND</p>
		<p>
			Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur ?
		</p>
		<p class="signature">Sacha, 10 nov. 20XX</p>
	</div>
</div>
<footer></footer>