<div id="calque" class="overlay"></div>
<div id="carousel" class="owl-carousel">
		<img class="item" src="img/articles/white_pass/pass1.jpg">
		<img class="item" src="img/articles/white_pass/pass2.jpg">
		<img class="item" src="img/articles/white_pass/pass3.jpg">
		<img class="item" src="img/articles/white_pass/pass4.jpg">
</div>
<div id="articletitle">
	<img src="img/logos/LeftArrow.png" class="arrow prevArrow">
	<h1 class ="title_logo">WHITE PASS AND THE YUKON ROUTE</h1>
	<p>Alaska</p>
	<img src="img/logos/rightArrow.png" class="arrow nextArrow">
	<div class="mouse">
		<img id="mouse" src="img/logos/mouse.png">
		<img id="arrow" src="img/logos/bottomArrow.png">
	</div>
</div>
<div id="page" class="article" data-id="1">
	<div class="conteneur_logo_desc">
		<ul>
			<li>
				<a href= "https://www.instagram.com/therailwaychronicles/" class="owl-next"><img id="logo_gallery" class="logo_desc" src="img/logos/gallery.png" alt=""></a>
				<p class="logo_desc">Galerie</p>
			</li>
			<li>
				<img id="logo_nuit" class="logo_desc" src="img/logos/nuit.png" alt="">
				<p id="nuits_desc" class="logo_desc">5 heures</p>
			</li>
			<li>
				<img id="logo_type" class="logo_desc" src="img/logos/montagne.png" alt="">
				<p id="type_desc" class="logo_desc">Montagne</p>
			</li>
			<li>
				<img id="logo_bourse" class="logo_desc" src="img/logos/bourse.png" alt="">
				<p id="bourse_desc" class="logo_desc">210 €/p</p>
			</li>
			<li>
				<img id="logo_dist" class="logo_desc" src="img/logos/distance.png" alt="">
				<p id="dist_desc" class="logo_desc">170 km</p>
			</li>
		</ul>
	</div>
	<div class="container">
		<div class="row">
			<div class="column center">
				<h1 class="title">expérience</h1>
			</div>
		</div>
		<div class="row">
			<div class="nine columns center">
				<p id="experience_txt">Relaxez-vous à bord de ce train mythique, dans des sièges d’époque, en retraçant une route historique de la ruée vers l’or, en passant par les chutes Bridal Veil, des points de vues inspirants et le pont impressionnant de Dead Horse Gulch. Appréciez de nombreux panoramas sur la montagne, les glaciers, des gorges à couper le souffle, des chutes d’eaux, des tunnels, ainsi que des sites historiques. Un expérience unique qui symbolise une sacré aventure pionnière et un accomplissement gigantesque : un triomphant challenge.
				<br><br>
				Le chemin de fer qui relie Skagway en Alaska à Whitehorse dans le Yukon (Canada) est plutôt court (à peine 170 km), mais il raconte une histoire longue et passionnante qui inspira l'écrivain Jack London : celle de la plus importante ruée vers l'or du continent nord-américain.
				<br><br>
				Nous sommes dans les dernières années du XIXe siècle et, alors que les pépites se font de plus en plus rares en Californie, les chercheurs d'or ont écho d'un nouveau filon dans le Klondike, une rivière qui coule dans le Yukon, à la frontière avec l'Alaska. Ils sont alors plusieurs dizaines de milliers à accourir dans la région pour plonger leur tamis dans les eaux du Klondike. Seulement voilà, la zone est montagneuse et les prospecteurs et leurs mules éprouvent les pires difficultés à remonter en amont de la rivière.
				<br><br>
				Malgré quantité d'obstacles, on décide de construire une voie ferrée afin de faciliter l'acheminement du matériel. Deux ans de travaux sont nécessaires à la réalisation de cette ligne qui frôle la paroi rocheuse, tutoie le vide et les chutes d'eau et franchit un col à 873 m d'altitude (le « White Pass »). Mondialement connu, le WP and YR est un véritable exploit historique, au même titre que le Canal du Panama, la Tour Eiffel et la Statue de la liberté.
				<br><br>
				Le train fit rapidement la fortune des chercheurs. Mais la fièvre ne dura pas longtemps. Au début du XXe siècle, il ne restait presque plus d'or dans le Klondike et les prospecteurs durent faire leurs valises à la recherche d'un nouvel eldorado.
				<br><br>
				De nos jours, la ligne White Pass est exploitée par un train touristique (avec de véritables locomotives à vapeur !) qui promène les passionnés d'histoire et les amateurs de beaux paysages sur les traces des chercheurs d'or du Klondike et de Jack London. Plusieurs forfaits sont proposés au départ de Skagway : seule la moitié de la ligne est en service, jusqu'à Carcross.
				</p>
			</div>
		</div>
		<div class="row">
			<div class="column center">
				<h1 class="title">itinéraire</h1>
			</div>
		</div>
		<div class="row">
			<div  class="eight columns center bg" id="itineraire_conteneur" data-src = "img/whitepassmap.png">
			</div>
		</div>
		<div class="row">
			<div class="column center">
				<h1 class="title">Lecture</h1>
			</div>
		</div>
		<div class="row">
			<div class="food_conteneur food_conteneur--right">
				<p class="eight columns food_txt">
					Pensez à partir avec un bouquin de Jack London! La ruée a été immortalisée par des livres comme "L’Appel de la forêt" ("The Call of the Wild") de Jack London et des films tels que "La Ruée vers l’or" de Charlie Chaplin.
				</p>
				<div class="three columns" >
					<div class="food_img  bg" data-src= "img/food/jack.jpg"></div>
				</div>
			</div>
		</div>
		
		<div class="row">
			<div class="column center">
				<h1 class="title">ATTENTION AU DÉPART</h1>
			</div>
		</div>
	</div>
	<div class="videoWrapper">
	  <iframe frameborder="0" height="100%" width="100%" 
	    src="https://www.youtube.com/embed/O2lXNjdyyZc?showinfo=0&autohide=1">
	  </iframe>
	</div>
</div>
<footer></footer>
